@import '../style-constants/style.constants.scss';

.dashboard {
  .content {
    position: relative;
    overflow: hidden;

    .viewport {
      height: auto;
    }
  }
}

@media screen and (max-width: $mobile-max-screen-size) {
  .dashboard {
    .content {
      margin-top: 56px;

      .viewport {
        margin-left: auto;
      }
    }
  }
}

@media screen and (min-width: $mobile-max-screen-size + 1) {
  .dashboard {
    .content {
      margin-top: 64px;

      .viewport {
        margin-left: $left-menu-size;
      }
    }
  }
}
