<div class="forgot-password-dialog" *ngIf="!resetSubmitted">
  <h1 mat-dialog-title align="center">Reset Password</h1>
  <mat-error *ngIf="resetFailed" type="form-error">Could not reset password for the provided username.</mat-error>
  <div mat-dialog-content align="center">
    <form autocomplete="off">
      <mat-form-field>
        <input matInput placeholder="Username" name="username" [(ngModel)]="model.username" #username="ngModel" required (keydown.space)="$event.preventDefault()"/>
        <mat-error for="username" *ngIf="resetAttempted && (!model.username || !model.username.valid)" type="error">Valid username is <strong>required</strong></mat-error>
      </mat-form-field>
    </form>
  </div>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div mat-dialog-actions align="center">
    <button mat-button (click)="resetPassword()" color="primary" tabindex="2" [disabled]="!username || !username.valid">Reset Password</button>
    <button mat-button (click)="dialogRef.close()" color="secondary" tabindex="2">Cancel</button>
  </div>
</div>
<div class="forgot-password-dialog" *ngIf="resetSubmitted">
  <h1 mat-dialog-title align="center">Reset Submitted</h1>
  <div mat-dialog-content align="center">
    <p>A password reset link has been sent to your email.</p>
  </div>
  <div mat-dialog-actions align="center">
    <button mat-button (click)="dialogRef.close()" color="primary" tabindex="2">Close</button>
  </div>
</div>
