@import '../../style-constants/style.constants.scss';

.user-block-management {
  padding: 20px;

  .mat-dialog-content {
    padding: 24px;

    .unblock {
      display: inline-flex;
      background-color: rgb(220, 220, 220);
      border-radius: 10px;
      top: -5px;
    }

    .inline {
      display: inline-flex;
    }
  }
}
