<div class="change-password-dialog" *ngIf="!changeSubmitted">
  <h1 mat-dialog-title align="center">Change Password</h1>
  <div mat-dialog-content align="center">
    <form name="passwordSettings" #passwordSettings="ngForm" autocomplete="off">
      <mat-error *ngIf="changeFailed" type="form-error">Could not change password. Is the request old?</mat-error>
      <mat-form-field align="center">
        <ng2-password-strength-bar class="password-strength-bar" [passwordToCheck]="model.newPassword"></ng2-password-strength-bar>
        <input matInput placeholder="New Password" name="newPassword" type="password" [(ngModel)]="model.newPassword" #newPassword="ngModel" required minlength="5" maxlength="150"/>
        <mat-error for="newPassword" *ngIf="passwordSettings.form.submitted && (!model.newPassword || model.newPassword.length < 5 || !newPassword.valid)">Password is <strong>required</strong> and must be atleast <strong>5</strong> characters</mat-error>
      </mat-form-field>
      <mat-form-field align="center">
        <input matInput placeholder="Confirm New Password" name="confirmedNewPassword" type="password" [(ngModel)]="model.confirmedNewPassword" #confirmedNewPassword="ngModel" required minlength="5" maxlength="150"/>
        <mat-error for="confirmedNewPassword" *ngIf="passwordSettings.form.submitted && (!model.confirmedNewPassword || model.confirmedNewPassword.length < 5 || !confirmedNewPassword.valid)">Confirmed password must match</mat-error>
      </mat-form-field>
    </form>
  </div>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div mat-dialog-actions align="center">
    <button mat-button (click)="changePassword()" color="primary" tabindex="2" [disabled]="!newPassword || !newPassword.valid || model.newPassword != model.confirmedNewPassword">Change Password</button>
    <button mat-button (click)="dialogRef.close()" color="secondary" tabindex="2">Cancel</button>
  </div>
</div>
<div class="change-password-dialog" *ngIf="changeSubmitted">
  <h1 mat-dialog-title align="center">Password Changed</h1>
  <div mat-dialog-content align="center">
    <p>Your password has been updated.</p>
  </div>
  <div mat-dialog-actions align="center">
    <button mat-button (click)="dialogRef.close()" color="primary" tabindex="2">Ok</button>
  </div>
</div>
