<div class="terms-page">
  <app-top-menu></app-top-menu>

  <div class="content" align="center">
    <div class="viewport">
      <div class="content-cards">
        <mat-card fxFlex="100%" fxFlex.xs="100%">
          <mat-card-title-group>
              <mat-card-title>Frienbly LLC Terms of Service</mat-card-title>
          </mat-card-title-group>

          <mat-card-content align="start">
            <h3>
              Last Modified: November 25nd, 2017
            </h3>

            <h2>
              Acceptance of the Terms and Conditions
            </h2>

            <p>
              These Terms and Conditions (the "Terms") constitute a legally binding agreement that governs your visits to www.frienbly.com and to the phone application known as Frienbly. The Site is owned and operated by Frienbly LLC, a Delaware limited liability company ("We," "Us," or "Our"). By visiting the Site, you agree to be bound and to the fullest extent abide by these Terms and Conditions, as well as our Privacy Policy available at www.frienbly.com/privacypolicy. If you disagree with any provision of these Terms or the Privacy Policy, you must exit the Site.
            <p>

            <h2>
              Neutral Venue
            </h2>

            <p>
              THE SITE IS A NEUTRAL VENUE WHICH IS NOT A PARTY TO ANY INTERACTIONS OR ARRANGEMENTS BETWEEN ITS MEMBERS. WE DO NOT VERIFY THE TRUTH OR ACCURACY OF USER INFORMATION AND HAVE NO CONTROL OVER USER SUBMITTED CONTENT OR CONDUCT. THEREFORE, WE DISCLAIM ALL LIABILITY ARISING OUT OF OR RELATED TO USER SUBMISSIONS, CONDUCT AND ARRANGEMENTS. WE ARE NOT LIABLE FOR ANY PROPERTY DAMAGE, BODILY INJURY OR DEATH OF THE SITE USER OR ANY THIRD PARTY. OUR ONLINE VENUE IS PROVIDED TO BE USED AT YOUR OWN RISK, WITH NO WARRANTIES OF ANY KIND.
            </p>

            <h2>
              Intellectual Property
            </h2>

            <p>
              IP Ownership. Frienbly LLC owns all intellectual property rights to the Site. Site contents, look and feel, features, design, registered and unregistered trademarks are protected by the U.S. and international copyright, trademark, trade secret, and other intellectual property or proprietary rights laws.
            </p>

            <p>
              Limited License. When you submit content covered by intellectual property rights (e.g. profile information, photos, images), you specifically grant us a non-exclusive, perpetual, transferable, sub-licensable, royalty-free, worldwide license to display that content on our Site. This limited license shall expire when you delete your content from our Site, however, be advised that third parties (such as other Site users) may have saved copies of your content. We have no control over such third parties and assume no liability for their actions.
            </p>

            <p>
              DMCA Takedown Requests. We are strongly committed to protecting the intellectual property rights of others. All claims of copyright infringement committed using our Site will be investigated if reported to our designated Copyright Agent via email: admin@frienbly.com . If we believe that any posted material violates any applicable law, we will remove or disable access to any such material and/or terminate or suspend the offending user's account.
            </p>

            <p>
              Indemnification. You agree to defend, indemnify and hold harmless the Site, its affiliates and licensors and their respective officers, directors, employees, contractors, agents, and licensors from and against any claims, liabilities, damages, judgments, awards, losses, costs, expenses or fees (including reasonable attorneys' fees) resulting from your violation of these Terms and Conditions or your use of the Site, including, without limitation, any use of the Site's content, services or items purchased through the Site.
            </p>

            <h2>
              Site Access
            </h2>

            <h3>
              By accessing the Site, you represent, warrant and agree that:
            </h3>

            <p>
              You are 18 years of age or older.
            </p>
            <p>
              By requesting to use, registering to use, and/or using the Site, you represent and warrant that you have never been convicted of a felony and/or are not required to register as a sex offender with any government entity. frienbly does not currently conduct criminal background screenings on its members. However, frienbly reserves the right to conduct any criminal background check, at any time and using available public records, to confirm your compliance with this subsection.
            </p>
            <p>
              You are solely responsible for your personal safety and the security of your personal information.
            </p>
            <p>
              You will only use Frienbly to help you find platonic friendships, and not use it to flirt, hit on, or attempt to seduce other members.
            </p>
            <p>
              You will only use Frienbly from within one of the supported states or countries. If you activate it in a supported state or country, and then move to an unsupported state or country, you certify that you will deactivate and never use frienbly while in that unsupported location.
            </p>
            <p>
              You will treat all Site users and administration respectfully, online and offline.
            </p>
            <p>
              Your payments to the Site are non-refundable.
            </p>
            <p>
              We may terminate any user account with or without notice using our sole discretion.
            </p>
            <p>
              You will treat all your login credentials confidential. Do not disclose them to any third party. You should use particular caution when accessing your account from a public or shared computer so that others are not able to view or record your password or other personal information.
            </p>
            <p>
              You are responsible for making all arrangements necessary for you to have access to the Site.
            </p>
            <p>
              You are responsible for ensuring that all persons who access the Site through your Internet connection are aware of these Terms and Conditions, and that they comply with them.
            </p>
            <p>
              We may withdraw or change our Site in any way we deem appropriate without prior notice to you. We are not be liable if for any reason all or any part of the Site is unavailable at any time or for any period to registered users or visitors.
            </p>
            <p>
              We have the right to disable any user identification provided by our Site and disable your whole account on our Site at any time for any reason or no reason without notice or explanation.
            </p>
            <p>
              If you are caught using the app to willingly send inappropriate pictures, you may be fined up to 1,000$. You agree to pay the whole amount within 30 days of receiving a notification from Frienbly LLC, to a charity or non-profit of Frienbly LLC's choice. In this paragraph, inappropriate pictures include but are not limited to: pictures showing your or other people's genitalia, pictures of you in underwear, pictures depicting violence or threats to other users, pornographic pictures, pictures of an illegal nature.
            </p>
            <p>
              You will not take or share screenshots of other users profiles or pictures with the public. However, you may take a screenshot of users who have talked to you and share it privately or with close friends for safety reasons. We reserve the right to log any attempts at taking screenshots, and to prevent your device from taking screenshots at any time and for any reason.
            </p>

            <h2>
              Use Restrictions
            </h2>
            <h3>
              You must not:
            </h3>

            <p>
              Use the Site for any illegal purpose, upload, post, link to, copy or republish copyrighted material. Delete or alter any copyright, trademark or other proprietary rights notices from copies of materials from this site.
            </p>
            <p>
              Use a false name or impersonate any other person.
            </p>
            <p>
              Post or transmit to other users any defamatory, abusive, obscene, profane, offensive, threatening, harassing, racially offensive, or objectionable material. We reserve the right to judge what constitutes "objectionable" material.
            </p>
            <p>
              Transmit, or procure the sending of, any advertising or promotional material and unsolicited mass communication without our prior written consent.
            </p>
            <p>
              Access the Site to build a competing service.
            </p>
            <p>
              Introduce any viruses or other harmful material, use any device, software or routine that interferes with the proper working of the Site.
            </p>
            <p>
              Attempt to gain unauthorized access to, interfere with, damage or disrupt any parts of the Site, the server on which the Site is stored, or any server, computer or database connected to the Site.
            </p>
            <p>
              Otherwise attempt to interfere with the proper working of the Site or anyone's use and enjoyment of it.
            </p>

            <h2>
              Monitoring and Enforcement; Termination
            </h2>
            <p>
              We have the right to take any action that we deem necessary or appropriate if we believe that a user violates the Terms and Conditions, infringes any intellectual property right or other right, threatens the personal safety of users of the Site and the public. We may:
            </p>
            <p>
              Fully cooperate with any law enforcement authorities or court order requesting or directing us to disclose the identity of anyone posting any materials on or through the Site.
            </p>
            <p>
              Disclose your identity to any third party who claims that material posted by you violates their rights, including their intellectual property rights or their right to privacy.
            </p>
            <p>
              Terminate or suspend your access to all or part of the Site for any or no reason, including without limitation, any violation of these Terms and Conditions.
            </p>
            <p>
              Block violator's IP address and/or notify his or her Internet Service Provider
            </p>
            <p>
              Take appropriate legal action.
            </p>
            <p>
              However, we cannot undertake to review all material before it is posted on the Site for accuracy, and cannot ensure prompt removal of objectionable material after it has been posted. Accordingly, we assume no liability for any action or inaction regarding transmissions, communications or content provided by any user or third party.
            </p>

            <h2>
              Disclaimer of Warranty
            </h2>
            <p>
              YOUR USE OF THE SITE, ITS CONTENT IS AT YOUR OWN RISK. WE DO NOT WARRANT THAT THE SITE WILL MEET YOUR EXPECTATIONS OR REQUIRMENTS. WE HEREBY DISCLAIM ALL WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT AND FITNESS FOR PARTICULAR PURPOSE.
            </p>
            <p>
              We do not guarantee that the information provided on the Site is complete, accurate or up-to-date. You are responsible for implementing sufficient procedures to satisfy your particular requirements for personal safety, the safety of your personal information, anti-virus protection and accuracy of data input and output. WE WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY A DISTRIBUTED DENIAL-OF-SERVICE ATTACK, VIRUSES OR OTHER TECHNOLOGICALLY HARMFUL MATERIAL THAT MAY INFECT YOUR COMPUTER EQUIPMENT, COMPUTER PROGRAMS, DATA OR OTHER PROPRIETARY MATERIAL DUE TO YOUR USE OF THE SITE OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE SITE OR TO YOUR DOWNLOADING OF ANY MATERIAL POSTED ON IT, OR ON ANY SITE LINKED TO IT.
            </p>

            <h2>
              Limitation of Liability
            </h2>

            <h4>
              IN NO EVENT WILL WE, OUR SERVICE PROVIDERS, EMPLOYEES, AGENTS, OFFICERS OR DIRECTORS BE LIABLE FOR DAMAGES OF ANY KIND, UNDER ANY LEGAL THEORY, ARISING OUT OF OR IN CONNECTION WITH YOUR USE, OR INABILITY TO USE, THE SITE, ANY SITES LINKED TO IT, ANY CONTENT ON THE SITE OR SUCH OTHER SITES OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE SITE OR SUCH OTHER SITES, INCLUDING ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING BUT NOT LIMITED TO, PERSONAL INJURY, PAIN AND SUFFERING, EMOTIONAL DISTRESS, LOSS OF REVENUE, LOSS OF PROFITS, LOSS OF BUSINESS OR ANTICIPATED SAVINGS, LOSS OF USE, LOSS OF GOODWILL, LOSS OF DATA, AND WHETHER CAUSED BY TORT (INCLUDING NEGLIGENCE), BREACH OF CONTRACT OR OTHERWISE, EVEN IF FORESEEABLE.
            </h4>

            <h4>
              IN NO EVENT WILL OUR LIABILITY EXCEED THE FEES COLLECTED FROM YOU FOR THE THREE MONTHS PRECEEDING THE TIME WHEN THE CLAIM AROSE. NO CLAIM, SUIT OR ACTION MAY BE BROUGHT AGAINST US AFTER SIX MONTHS FROM THE UNDERLYING CAUSE OF ACTION.
            </h4>

            <h2>
              Linking to the Site
            </h2>

            <p>
              You may link to our Site in a way that is legal, fair and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists.
            </p>
            <p>
              You must not establish a link from any website that is not owned by you.
            </p>
            <p>
              You cannot frame our Site on any other site.
            </p>
            <p>
              You agree to cooperate with us in causing any unauthorized framing or linking immediately to cease. We reserve the right to withdraw linking permission without notice.
            </p>

            <h2>
              Disputes Between Users
            </h2>
            <p>
              As a neutral venue, we do not offer mediation, arbitration or any other forms of dispute resolution and do not actively monitor user interactions. Therefore, you are solely responsible for your interactions and disputes with other users. The Site reserves the right, but has no obligation, to facilitate and resolve disputes between its users.
            </p>

            <h2>
              Assignment
            </h2>
            <p>
              You may not assign your rights and obligations under these Terms and Conditions without our prior written consent. We may transfer, assign or subcontract the rights, interests or obligations under the Terms and Conditions, at our sole discretion, without obtaining your consent.
            </p>

            <h2>
              Severability and Non-Waiver
            </h2>
            <p>
              Should any part of these Terms and Conditions be rendered or declared invalid by an appropriate authority, such invalidation of such part or portion of these Terms and Conditions should not invalidate the remaining portions thereof, and they shall remain in full force and effect.
            </p>
            <p>
              Enforcement of these Terms and Conditions is solely in our discretion, and failure to enforce the Terms and Conditions in some instances does not constitute a waiver of our right to enforce them in other instances.
            </p>

            <h2>
              Governing Law and Jurisdiction
            </h2>
            <p>
              These Terms and Conditions shall be governed by the laws of Delaware State, without regard to its conflict of law principles that would result in application of any other law. The courts sitting in Dover, Delaware will have exclusive jurisdiction over any claim arising from or related to these Terms and Conditions.
            </p>

            <h2>
              Changes to the Terms and Conditions
            </h2>

            <p>
              We update these Terms and Conditions every once in a while as we deem appropriate, without notifying you. We then post the changes on this page. Please check this page from time to time to take notice of any changes we made, as they are binding on you. Your continued use of the Site following the posting of revised Terms and Conditions constitutes your acceptance of the changes.
            </p>

            <h2>
              Contact Us
            </h2>

            <p>
              All feedback, comments, requests for technical support and other communications relating to the Site should be directed to our customer service representative at admin@frienbly.com
            </p>

            <h2>
              Credits
            </h2>

            <h3>
              Special thanks to the following entities for helping to make all of this possible.
            </h3>

            <h4>
              Google for use of their robust Geocoding APIs.
            </h4>
            <h4>
              Giphy for helping to make chats filled with memes and awesomeness.
            </h4>
            <h4>
              Amazon Web Services for making all of this possible through their robust hosting platform.
            </h4>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
