@import '../../../style-constants/style.constants.scss';

.footer-bar {
  .footer {
    width: 100%;

    mat-card {
      border-radius: 0;
      background-color: rgb(100, 100, 100);
      padding: 0;
      mat-card-actions {
        padding: 0;
        margin: auto;
      }
    }

    button {
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      border-radius: 8px;

      color: rgb(245, 245, 245);
      background-color: rgb(130, 130, 130);

      margin: 10px;
    }

    label[type="text"] {
      color: rgb(235, 235, 235);
    }
  }
}
