@import '../../../style-constants/style.constants.scss';

.top-menu-bar {
  z-index: 5;
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  .top-menu {
    @include horizontal-gradient(rgb(23, 81, 141), rgb(63, 121, 181));

    .title {
      display: inline-flex;

      .title-text {
        display: inline-flex;

        .logo {
          width: 70px;
          height: 60px;
          -webkit-filter: invert(100%);
        	-moz-filter: invert(100%);
        	-o-filter: invert(100%);
        	-ms-filter: invert(100%);
          filter: invert(100%);
        }

        .top-menu-title {
          position: relative;
          margin: auto;
          left: -11px;
          font-size: 38px;
          font-weight: 500;
        }
      }
    }

    .fa-user-plus {
      font-size: 38px;
    }

    .top-menu-title {
      padding-left: 20px;
      font-size: 28px;
      font-weight: 700;
    }

    .top-menu-sub-title {
      padding-left: 5px;
      font-weight: 100;
      font-style: italic;
    }

    .user-action-buttons {
      position: relative;
      right: 0;
      margin-left: auto;

      .menu-item {
        display: inline-flex;
        width: 50px;
        height: 50px;
      }
    }
  }
}
