<div class="about-us-page">
  <app-top-menu></app-top-menu>

  <div class="content" align="center">
    <div class="viewport">
      <div class="content-cards">
        <mat-card fxFlex="100%" fxFlex.xs="100%">
          <mat-card-title-group>
              <mat-card-title>Frienbly LLC</mat-card-title>
              <mat-card-subtitle>Jacob Carpenter - Founder</mat-card-subtitle>
          </mat-card-title-group>

          <mat-card-content align="start">
            <h1>
              Making New Friends Should be Easy
            </h1>

            <h2>
              Core Beliefs
            </h2>

            <h4>
              Forming new friendships requires a platform consisting of three core pillars: Search, Communication, and Event Planning
            </h4>
            <p>
              Assist the user in finding friends for any interest regardless of the niche, and in any location.
            </p>
            <p>
              Provide a robust chat to allow users to become familiar with one another.
            </p>
            <p>
              Allow users and groups to plan events to solidify friendships.
            </p>

            <h4>
              Friendships are Formed Based Upon a Few Shared Interests
            </h4>
            <p>
              Allow the user to enter any information they want to describe themselves or their groups.
            </p>
            <p>
              By not prompting users for specific input but allowing users to specify any interests, the conscious decision to include an interest adds significant weight.
            </p>

            <h4>
              Making Friends is Different from Finding Romance
            </h4>
            <p>
              While a platform to find romance optimizes for one on one connections, a friend finding platform is severely limited by only catering to similar one on one relationships.
            </p>
            <p>
              Friendships are predominantly formed through small interactions of individuals within a larger group.
            </p>
            <p>
              To create a top platform for forming friendships, an organization must focus on both one on one and group connections.
            </p>

            <h1>
              Contact Us
            </h1>
            <h4>
              For any concerns, bugs, or enhancement requests please submit feedback by logging in and clicking the feedback button at the bottom of the page.
            </h4>
            <h4>
              For anything else, email admin@frienbly.com and we will get back to you as soon as we can.
            </h4>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
