@import './style-constants/style.constants.scss';

.main-component {
  position: relative;
  display: block;
  min-width: 320px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: $mobile-max-screen-size) {
  .main-component {}
}

@media screen and (min-width: $mobile-max-screen-size + 1) {
  .main-component {
    overflow-y: auto;
  }
}
