<div class="safety-page">
  <app-top-menu></app-top-menu>

  <div class="content" align="center">
    <div class="viewport">
      <div class="content-cards">
        <mat-card fxFlex="100%" fxFlex.xs="100%">
          <mat-card-title-group>
              <mat-card-title>Safety Tips</mat-card-title>
          </mat-card-title-group>

          <mat-card-content align="start">
            <h2>
              Safety Tips
            </h2>

            <p>
              Please take a few minutes to read the following safety tips to keep your experience enjoyable, secure, and most importantly - safe.
            </p>

            <h3>
              General Tips
            </h3>

            <p>
              You should always be cautious when communicating with any stranger who wants to meet you. You are in control of your friend making experience at all times—remain anonymous until you feel ready. Remember to always trust your instincts. If you feel unsafe or threatened, cease communication and report any misbehavior immediately to admin@frienbly.com.
            </p>
            <p>
              Guard your identity. Don’t share your personal phone numbers, email address, home address, place of work or any other identifying information while IMing or messaging until you have established a reasonable level of trust with the other party. Do not post personal contact information in your profile or username.
            </p>
            <p>
              Protect your online access information. Use caution when accessing your account from a public or shared computer so that others are not able to view or record your password or other personal information. If you share your computer with others, consider disabling your auto-sign in feature if you have linked an auto log-in program or feature to your frienbly account.
            </p>
            <p>
              Get to know the other person online before meeting them offline. Use the tools available through Frienbly that protect your anonymity to get to know someone before meeting them in person. If you would like more information about someone, we recommend using the internet and government resources available to everyone.
            </p>
            <p>
              Block abusive users. Block any member who behaves or treats you in an abusive way and report the behavior to Frienbly immediately. Stop communicating immediately with anyone who pressures you for personal or financial information. You can block and report concerns or terms of use violations from any user details page. Your involvement will help keep the community fun and enjoyable.
            </p>
            <p>
              Block and report users who are clearly on Frienbly looking for romantic (rather than friendly relationships). By reporting them, you ensure they don't fool other members
            </p>

            <h4>
              Examples of terms of use violations include:
            </h4>
            <p>
              Minors using the service
            </p>
            <p>
              Creepy behavior.
            </p>
            <p>
              Members sending harassing or offensive messages/IMs
            </p>
            <p>
              Members asking you for money or donations
            </p>
            <p>
              Members behaving inappropriately after meeting in person
            </p>
            <p>
              Fraudulent registration or profiles
            </p>
            <p>
              Spam or solicitation, such as invitations to buy products or services
            </p>
            <p>
              Copyright infringement
            </p>
            <p>
              Any other violation of Frienbly's policies
            </p>

            <h3>
              Safety Tips for Meeting Offline
            </h3>
            <h4>
              In first meetings, please always take precautions and use the following guidelines.
            </h4>
            <p>
              Meet the person on a video chatting app and make sure they are who they say they are.
            </p>
            <p>
              ALWAYS meet in public. Meet for the first time in a populated, public location—never in a private or remote location (e.g. their house, or camping somewhere)
            </p>
            <p>
              Frienbly is for friends so prefer activities that don't happen late at night.
            </p>
            <p>
              Tell a friend. Inform a friend or family member of your plans and when and where you’re going. If you own a mobile phone, make sure you have it with you.
            </p>
            <p>
              Stay sober. Do not do anything that would impair your judgment and cause you to make a decision you could regret.
            </p>
            <p>
              Drive yourself to and from the first meeting. Just in case things don’t work out, you need to be in control of your own ride—even if you take a taxi.
            </p>
            <p>
              Don’t leave personal items unattended. You don’t want to risk having personal information stolen. If you’re drinking, keep your drink with you at all times so it can’t be tampered with.
            </p>
            <p>
              Stay in a public place. NEVER go back to your friend’s home or bring them back to yours in a first meeting. If there's any pressure, make up an excuse and leave at once.
            </p>
            <h2>
              In general, always report any inappropriate behavior to admin@frienbly.com, and if you feel unsafe or threatened by a user, please report them to the police authorities.
            </h2>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
