@import '../../../style-constants/style.constants.scss';


.group-card-details {

  .inline {
    display: inline-block;
  }

  mat-list {
    position: absolute;
    top: -180px;
  }

  textarea {
    display: inherit;
    position: relative;
    width: 100%;
    font-family: inherit;
    border-color: white;
    overflow-x: hidden;
    font-family: sans-serif;
  }

  .tag-label {
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
  }

  .group-tags {
    margin-top: 5px;
  }

  .bold {
    font-size: 16px;
    font-weight: 800;
  }

  .semi-bold {
    font-size: 16px;
    font-weight: 600;
  }

  .mat-card {
    padding: 30px;
    display: block;

    max-height: 70vh;

    overflow-x: hidden;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .mat-card-title {
      height: 150px;
    }

    .mat-card-actions {
      padding: 20px;

      .secondary {
      }

      .primary {
        background-color: rgb(210, 230, 240);
      }

      .action {
        width: 60px;
        height: 60px;
        margin-left: 10px;

        mat-icon {
          position: relative;
          display: block;
          font-size: 35px;
          top: 2px;
          left: -5px;
          margin: auto;
        }

        .join-button {
          top: 0;
        }
      }
    }

    .mat-card-avatar {
      position: relative;
      top: -10px;
      padding-right: 30px;
      height: 100px;
      width: 100px;
    }

    .mat-card-avatar:hover {
      cursor:pointer;
    }
  }

  .mat-card > * {
    -webkit-transform: translateZ(0px);
  }
}

$mobile-max-screen-size: 420px;
@media screen and (max-width: $mobile-max-screen-size) {
  .group-card-details {
    .mat-card-avatar {
      height: 100%;
    }

    .mat-card-title {
      margin-bottom: -20px;
    }

    .inline {
      position: relative;
      display: block;
      height: 100%;
    }

    mat-list {
      position: relative;
      top: 0;
      left: -16px;
      margin-left: 0px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

@media screen and (min-width: $mobile-max-screen-size + 1) {
  .group-card-details {
    .mat-card {
      min-width: 300px;
    }

    .header-content {
      left: 135px;
    }
  }
}
